extends layouts/base

block vars
//  - pageTitle = "Settings"

block content

  table
    tr
      td.first-draft(style="vertical-align:top;", width="33%")
      td.diff(style="vertical-align:top;", width="33%")
      td.second-draft(style="vertical-align:top;", width="33%")
